<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andbook.example.protect_me_release">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon96"
        android:label="나를지켜줘"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".PermissionCheckAcitivty"
            android:theme="@style/AppTheme"/>
        <activity android:name="ModelFile.TestAllSOS"
            android:theme="@style/AppTheme"/>
        <activity android:name="ModelFile.TestCall"
            android:theme="@style/AppTheme"/>

        <receiver
            android:name="AlarmFile.AlarmService"
            android:enabled="true">
        </receiver>

        <service android:name="ModelFile.Scrum_Controll"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name="ModelFile.Scrum_NoControll"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name="ModelFile.Audio"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name="ModelFile.TestScrum"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name="ModelFile.TestAudio"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>
</manifest>